@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #10B981;
  --secondary: #F59E0B;
  --accent: #EC4899;
}

body {
  @apply bg-gray-50 text-gray-900;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
